a:active{
    outline: none;
}
a:focus{
    outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

html,body{
    height: 100%;
}

#header {
    height: 64px;
    background-color: #243442;
    display: block;
    padding: 10px;
}

#mainmenu {
    height: 52px;
    background-color: #308ccf;
    padding: 12px;
}

.mainmenu-font{
    color: white;
    font-size: 15px;
}

#subtitle {
    height: 64px;
    background-image:url('img/subtitle-bg.png');
    padding: 10px;
    font-size:14px;
}

.blue-font {
    color: #308ccf;
}

#content {
    background-image: url('img/main-bg.png');
    padding-top:15px;
    padding-bottom:15px;
	height:100%;
    min-height: 100%;
    position: relative;
}

/* workaround for index content */

#large-content {
    background-image: url('img/main-bg.png');
    padding-top:15px;
    padding-bottom:15px;
	height:auto;
    min-height: 100%;
    position: relative;
}


#footer{
    height: 64px;
    background-color: #308ccf;
    margin-top:0px;
    padding: 10px;
}

#homepage-general{
    padding: 30px;
}

form {
    float: left;
    margin-top: 8px;
    margin-left: 15px;
}

.search {
    height:30px;
    width: 400px;
    padding:5px;
    border-width: 1px;
    border-radius: 6px;
    background: #ebecec;
    border:1px solid #dbdbdb;
    font-size: 15px;
}

.rounded {
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

#search-button{
    text-indent: -99999px;
    position: relative;
    margin-left: -60px;
    margin-top: auto;
	cursor: pointer;
    border:0;
    background: url('img/magnifier.png') 00 no-repeat;
    width: 57px;
    height: 32px;
}

#user {
    float: right;
    margin-top: 8px;
}

#username{
    font:18px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #d5d6d6;
}

.separator{
    border-bottom: 1px solid #ccc;
    width: 700px;
}

.bottom-border{
    border-bottom: 1px solid #308ccf;
}














































